@mixin hide {
  overflow: hidden;
  display: block;
  position: absolute;
  border: 0;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
  //   clip-path: inset(50%);
}

@mixin create-btn {
  width: 100%;
  border-radius: 0.5rem;
  padding: 0.825rem;
  background: var(--logo);
  color: var(--logoText);
  font-size: 1rem;
  text-align: center;

  &:hover {
    background: linear-gradient(to bottom right, var(--pink7), var(--indigo7));
  }
}

@mixin error {
  margin-top: 0.5rem;
  background: var(--pink3);
  color: red;
  padding: 0.825rem;
  border-radius: 0.3rem;
  font-size: 0.825rem;
}

@mixin xs {
  @media (min-width: 576px) {
    @content;
  }
}
@mixin sm {
  @media (min-width: 768px) {
    @content;
  }
}
@mixin md {
  @media (min-width: 992px) {
    @content;
  }
}
@mixin lg {
  @media (min-width: 1024px) {
    @content;
  }
}
@mixin xl {
  @media (min-width: 1200px) {
    @content;
  }
}
