// @import "./variable";

@import url("https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@2.0/nanumsquare.css");

@font-face {
  font-family: "KyoboHand";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/KyoboHand.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

:root {
  --bgColor: #ffff;
  --navbarBg: #fefefe;
  --borderLine: #e4e7ea;
  --textColor: #141414;
  --textcolor2: #374151;
  --logoText: #ffff; //
  --inputBg: #f9fbfa;
  --sidebarBg: #f8fafb;
  --sidebarHigh: #f2f5f7; //
  // --dark1: #374150; //inputbg
  // --dark2: #1f2937; //navbg
  // --dark3: #0f172a; //bg
  --gray1: #f1f3f5; //
  --gray2: #e9ecef; //

  --gray3: #dee2e6;
  --gray4: #ced4da; //
  --gray5: #adb5bd;
  --gray6: #868e96; //
  --gray7: #364150;
  // --gray7: #495057;
  // --gray8: #343a40;
  // --indigo2: #bac8ff;
  --indigo4: #748ffc; //
  --indigo6: #4c6ef5; //
  --indigo7: #008cff;
  --pink3: #fce8e8;
  --pink4: #ff8a4c;
  --pink5: #e74694;
  --pink6: #e64980; //
  --pink7: #e100ff;
  // --purple1: #774fee; //
  // --purple2: #472290; //
  // --purple3: #9160f6;
  // --cyan2: #bfe0e2;
  // --cyan3: #92cace;
  --cyan4: #13b9b9; //
  --cyan5: #438e96; //
  --cyan9: #0f7695; //
  --logo: linear-gradient(to right, var(--indigo6), var(--pink6));
  --googleBtn: linear-gradient(to bottom, var(--pink4), var(--pink5));
  --borderOuline: linear-gradient(
    to bottom right,
    var(--indigo7),
    var(--pink7)
  );
}
// .light {
//   --bgColor: #ffff;
//   --textColor: #000000;
// }
.dark {
  --bgColor: #0f172a;
  --textColor: #ffff;
  --navbarBg: #1f2936;
  --borderLine: #343e4f;
  --inputBg: #364150;
  --pink3: #868e96;
  --sidebarBg: #1f2936;
  --sidebarHigh: #364150;
  --textcolor2: #fefefe;
}
/* box-sizing 규칙을 명시합니다. */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 폰트 크기의 팽창을 방지합니다. */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  background: var(--bgColor);
  color: var(--textColor);
  // font-family: "NanumSquare", sans-serif;
  font-family: "KyoboHand", sans-serif;
}

ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

input,
button {
  background: transparent;
  outline: none;
  border: none;
  cursor: pointer;
  font-family: inherit;
}
