// Colors
$dark0: #c9c9c9;
$dark1: #b8b8b8;
$dark2: #828282;
$dark3: #696969;
$dark4: #424242;
$dark5: #3b3b3b;
$dark6: #2e2e2e;
$dark7: #242424;
$dark8: #1f1f1f;
$dark9: #141414;

$gray0: #f8f9fa;
$gray1: #f1f3f5;
$gray2: #e9ecef;
$gray3: #dee2e6;
$gray4: #ced4da;
$gray5: #adb5bd;
$gray6: #868e96;
$gray7: #495057;
$gray8: #343a40;
$gray9: #212529;

$white: #ffff;

$indigo2: #bac8ff;
$indigo4: #748ffc;
$indigo6: #4c6ef5;

// $pink5: #f06595;
$pink6: #e64980;

$purple1: #774fee;
$purple2: #472290;

$cyan2: #bfe0e2;
$cyan3: #92cace;
$cyan4: #13b9b9;
$cyan5: #438e96;
$cyan9: #0b7285;
