.dashProfile {
  //   display: flex;
  //   flex-direction: column;
  //   justify-content: center;
  //   align-items: center;
  margin: 0 auto;
  padding: 0.75rem;
  max-width: 32rem;
  width: 100%;
  h1 {
    margin: 1.75rem 0;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
  }
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

    .profile-img {
      width: 8rem;
      height: 8rem;
      border-radius: 50%;
      position: relative;
      overflow: hidden;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -1;
        position: absolute;
        top: 0;
        left: 0;
        &.opacity {
          opacity: 0.1;
        }
      }
    }
    // .error {
    //   margin-top: 0.825rem;
    //   background: var(--pink3);
    //   color: red;
    //   padding: 0.825rem;
    //   border-radius: 0.3rem;
    //   font-size: 0.825rem;
    // }
    input {
      width: 100%;
      border-radius: 0.5rem;
      border: 1px solid var(--gray3);
      padding: 0.825rem;
      background: var(--inputBg);
      color: var(--textColor2);
      font-size: 1rem;
      &::placeholder {
        font-size: 1rem;
        color: var(--textColor2);
      }
      &:focus {
        border: 2px solid var(--indigo4);
      }
    }
    .edit-btn {
      width: 100%;
      border-radius: 0.5rem;
      padding: 0.825rem;
      background: var(--inputBg);
      color: var(--textColor2);
      font-size: 1rem;
      position: relative;
      &::after {
        content: "";
        position: absolute;
        top: -1.5px;
        left: -2px;
        right: -2px;
        bottom: -1.5px;
        background-image: var(--borderOuline);
        border-radius: 0.5rem;
        z-index: -1;
      }
      &:hover {
        z-index: 0;
        color: var(--logoText);
      }
    }
    .create-btn {
      width: 100%;
      border-radius: 0.5rem;
      padding: 0.825rem;
      background: var(--logo);
      color: var(--logoText);
      font-size: 1rem;
      text-align: center;

      &:hover {
        background: linear-gradient(
          to bottom right,
          var(--pink7),
          var(--indigo7)
        );
      }
    }
  }

  .deleteAccount {
    margin: 1.5rem 0;
    color: var(--pink4);
    text-align: end;
    display: flex;
    justify-content: space-between;
    span {
      cursor: pointer;
    }
  }
  .successMsg {
    background: #bdeedb;
    color: var(--cyan9);
    padding: 0.825rem;
    border-radius: 0.3rem;
    font-size: 0.825rem;
  }
}
.modal {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  .modal-box {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--logoText);
    width: 100%;
    max-width: 20rem;
    padding: 2rem;
    border-radius: 0.5rem;

    .close {
      position: absolute;
      top: 12px;
      right: 15px;
      font-size: 1.3rem;
      color: var(--gray6);
      cursor: pointer;
    }
    .modal-content {
      margin-top: 1rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 2rem;
      color: var(--gray7);
      .select-btn {
        display: flex;
        gap: 1.6rem;
        flex-shrink: 0;
        button {
          width: 3.5rem;
          padding: 0.5rem 0;
          border-radius: 0.5rem;
          border: 1px solid var(--gray3);
          // color: var(--gray6);
          transition: all 1s ease;
          &.confirm {
            background-color: red;
            color: var(--logoText);
          }
          &:hover {
            transform: scale(1.12);
          }
        }
      }
    }
  }
}
