.dashProfile {
  //   display: flex;
  //   flex-direction: column;
  //   justify-content: center;
  //   align-items: center;
  margin: 0 auto;
  padding: 0.75rem;
  max-width: 32rem;
  width: 100%;
  h1 {
    margin: 1.75rem 0;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
  }
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

    .profile-img {
      width: 8rem;
      height: 8rem;
      border-radius: 50%;
      position: relative;
      overflow: hidden;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -1;
        position: absolute;
        top: 0;
        left: 0;
        &.opacity {
          opacity: 0.1;
        }
      }
    }
    // .error {
    //   margin-top: 0.825rem;
    //   background: var(--pink3);
    //   color: red;
    //   padding: 0.825rem;
    //   border-radius: 0.3rem;
    //   font-size: 0.825rem;
    // }
    input {
      width: 100%;
      border-radius: 0.5rem;
      border: 1px solid var(--gray3);
      padding: 0.825rem;
      background: var(--inputBg);
      color: var(--textColor2);
      font-size: 1rem;
      &::placeholder {
        font-size: 1rem;
        color: var(--textColor2);
      }
      &:focus {
        border: 2px solid var(--indigo4);
      }
    }
    .edit-btn {
      width: 100%;
      border-radius: 0.5rem;
      padding: 0.825rem;
      background: var(--inputBg);
      color: var(--textColor2);
      font-size: 1rem;
      position: relative;
      &::after {
        content: "";
        position: absolute;
        top: -1.5px;
        left: -2px;
        right: -2px;
        bottom: -1.5px;
        background-image: var(--borderOuline);
        border-radius: 0.5rem;
        z-index: -1;
      }
      &:hover {
        z-index: 0;
        color: var(--logoText);
      }
    }
  }
  .deleteAccount {
    margin: 1.5rem 0;
    color: var(--pink4);
    text-align: end;
    display: flex;
    justify-content: space-between;
    span {
      cursor: pointer;
    }
  }
  .successMsg {
    background: #bdeedb;
    color: var(--cyan9);
    padding: 0.825rem;
    border-radius: 0.3rem;
    font-size: 0.825rem;
  }
}
