@import "../style.scss";

.navbar {
  // position: sticky;
  // top: 0;
  // left: 0;
  width: 100%;
  height: 3.95rem;
  padding: 0.625rem 1rem;
  border-bottom: 1px solid var(--borderLine);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1 1 0;
  background: var(--navbarBg);
  .logo {
    font-size: 1.25rem;
    font-weight: 600;
    color: var(--textColor);
    span {
      background: var(--logo);
      border-radius: 0.6rem;
      padding: 0.2rem 0.6rem;
      color: var(--logoText);
    }
  }

  form {
    display: flex;
    align-items: center;
    width: 15rem;
    position: relative;

    input {
      display: none;
      background: var(--inputBg);
      color: var(--textColor);
      @include md {
        display: inline;
        width: 100%;
        border: 1px solid var(--gray4);
        border-radius: 0.5rem;
        padding: 0.7rem;
      }

      &:focus {
        outline: 1px solid var(--indigo4);
      }
    }
    .btn {
      display: none;
      color: var(--textColor);
      @include md {
        display: inline;
        position: absolute;
        right: 10px;
      }
    }
  }
  .search_btn {
    width: 2.5rem;
    height: 2.5rem;
    padding: 0.6rem 0.825rem;
    border: 1px solid var(--gray3);
    border-radius: 2.5rem;
    color: var(--textColor);
    @include md {
      display: none;
    }
  }

  .link-menu {
    display: none;

    @include sm {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 2rem;

      a {
        padding: 0 1rem 0;
        transition: all 0.5s ease-out;

        &:hover {
          transform: scale(1.1);
        }
        &.active {
          font-weight: bold;
        }
      }
    }
  }

  .user-menu {
    display: flex;
    align-items: center;
    gap: 0.8rem;
    margin-left: 1rem;
    z-index: 1000;

    .moon_btn {
      display: none;
      width: 2.5rem;
      height: 2.5rem;
      padding: 0.6rem 0.825rem;
      border: 1px solid var(--gray3);
      border-radius: 2.5rem;
      color: var(--indigo6);
      &:hover {
        background-color: var(--gray2);
      }
      @include xs {
        display: inline;
      }
    }

    a {
      padding: 0.8rem 1rem;
      // border: 2px solid var(--indigo4);
      border-radius: 0.5rem;
      font-size: 0.875rem;
      flex-shrink: 0;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      background: var(--bgColor);
      color: var(--textColor);
      &::after {
        content: "";
        position: absolute;
        top: -1px;
        left: -1.5px;
        right: -1.5px;
        bottom: -1px;
        border-radius: 0.5rem;
        background-image: var(--borderOuline);
        z-index: -1;
      }
      &:hover {
        z-index: 0;
        color: var(--logoText);
      }
    }

    .profile {
      cursor: pointer;
      img {
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 50%;
        object-fit: cover;
      }
    }

    .menu-icon {
      font-size: 2.25rem;
      text-align: center;
      color: var(--gray6);
      margin-top: 5px;
      transition: all 1s ease;

      &:hover {
        transform: scale(1.2);
      }
      @include sm {
        display: none;
      }
    }
  }
  .dropdown_menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0;
    top: 3.7rem;
    width: 15.8rem;
    background-color: var(--gray1);
    border-radius: 0.4rem;
    box-shadow: 1px 0 4px var(--gray3);
    padding: 0.825rem 0 0.5rem;
    .close-btn {
      position: absolute;
      top: 5px;
      right: 10px;
      font-size: 1.5rem;
      color: var(--gray6);
    }

    a {
      padding: 1rem 1.5rem;
      &:hover {
        background: var(--pink3);
        font-weight: bold;
      }
      &.active {
        color: var(--indigo6);
        font-weight: bold;
      }
    }

    span {
      padding: 0.5rem 1.5rem;
      font-size: 0.825rem;
    }
    span:nth-of-type(2) {
      font-weight: bold;
      border-bottom: 1px solid var(--gray3);
      padding-bottom: 1rem;
    }
  }
}
